body {
        width: 960px;
        margin: 0 auto;
        font-family: Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
        font-family: Georgia, serif;
        font-weight: normal; 
}



/* The Table...
 ===================================================== */

#target-table th {
        border-bottom: 1px solid;
        padding: 0 5px;
}

#target-table td.number {
        text-align: right;
}

#target-table td {
        border-bottom: 1px solid;
        padding: 2px 15px;
}